footer
	background-color $AzulOscuro
	color #fff
	text-align center
	
	
	a
		color $AzulClaro
		
	.logo-nestle
		margin 1rem auto
		max-width 15rem
		
		a
			display block
			text-decoration none
			
			&::after
				content none
				display none
		
		img
			display block