@media (min-width:480px)
	
	.container
		&-registro
			.row
				padding-top 18rem

	
	.intro-title
		max-width none
		font-size 2.7rem
		span
			display inline-block
			padding 1rem 0.5rem
			vertical-align middle
		

	.perfil
		&-content
			min-height 24rem
			

@media (min-width:600px)
	.container
		&-registro
			.row
				background-position 50% -15%
				background-size 150%
				padding-top 22rem
				
	.fase
		min-height 15rem

@media (min-width:$screen-sm)
	.btn
		&-show-form
			max-width 50%
		&-ver
			font-size 2rem
			margin 2rem auto
			max-width 60rem
			padding 1rem 2rem
			width 100%
			
	.container
		&-vacantes
			& > h2
				font-size 3rem
		&-programa
			h2
				font-size 3rem
				center-block()
				max-width 48rem
				
		&-pasion
			.row
				padding-top 12rem
		&-registro
			.row
				background-position center top
				background-size 100%
				padding-top 30rem
				
				h2
					font-size 3rem
				
				
	.fase
		margin 2rem auto
		min-height 17.2rem
		overflow hidden
		
		&:focus
			outline 0 !important
			outline none !important
			
		&-content
			&:focus
				outline 0 !important
				outline none !important
			h3
				font-size 2rem
				margin 1rem auto
				max-width 32rem
				
		&-mora,
		&-rosa
			h3
				max-width 20rem
			
		&-skew
			display block
	
	.form
		&-holder
			&.active
				label
					left -4rem

	.intro-title
		font-size 4rem
		margin 0.5rem auto
		padding 0
		
	.pasion
		center-block()
		max-width 69rem
		h2
			font-size 3rem
			max-width 100%
			
		p
			font-size 2.5rem
			
	.perfil
		
		&:focus
			outline 0 !important
			outline none !important
		h3
			height 4rem
			img
				float left 
				padding 0.5rem
				
			span
				padding 0
		.skills
			line-height 1.1
			min-height 17rem
			
		&-content
			min-height 0
		
	.vacante
		padding-bottom 10%
		min-height none
		&:focus
			outline 0 !important
			outline none !important
			
		
		&-cant
			position absolute
			bottom 1rem
			left @bottom
			p
				font-size 2rem
@media (min-width:860px)
	.perfil
		h3
			font-size 2.5rem
			height 6rem
			
			img
				float none
				max-width 6rem
			span
				display inline-block
				max-width 70%

@media (min-width:990px)
	.acerca
		h3
			margin 0
	.container
		&-fluid
			.img-banner
				display block
				margin 0 auto
				max-width 77rem
			.row
				& > h2
					font-size 4rem				
		&-intro
			h3
				font-size 3rem
		&-programa
			h2
				max-width 68rem
		&-perfiles
			h2
				center-block()
				max-width 48rem
		&-registro
			.row
				padding-top 40rem
		&-vacantes
			h2
				margin 1rem auto
	.fase
		
		&-content
			h3
				font-size 2.5rem
				
		&-verde
			.fase-content
				h3
					max-width 40rem
			p
				font-size 1.9rem
				line-height 1.2
		&-skew
			.fase-mask
				padding-bottom 23.2rem
				width 44%
				
			
@media (min-width:1000px)
	.container
		&-pasion
			path('ornaments.jpg')
			background-position center top
			background-repeat no-repeat
			
	.perfil
		h3
			font-size 3rem
			height 7rem
			
			img
				max-width 8rem
			span
				max-width 70%
