//Paleta de colores del proyecto
$Amarillo       = #fec018
$AzulClaro      = #04a7db
$AzulOscuro     = #252a5f
$Gris           = #313131
$Magenta        = #e41e5d
$Naranja        = #fa8510
$Purpura        = #7d3fac
$Verde          = #87d329


//Fonts
$Alfa           = 'Alfa Slab One', cursive
$Blogger        = 'blogger_sansregular',sans-serif
$BloggerB       = 'blogger_sansbold',sans-serif
$BloggerBItalic = 'blogger_sansbold_italic',sans-serif
$BloggerItalic  = 'blogger_sansitalic',sans-serif
$BloggerL       = 'blogger_sanslight',sans-serif
$BloggerLtalic  = 'blogger_sanslight_italic',sans-serif
$BloggerM       = 'blogger_sansmedium',sans-serif
$BloggerMitalic = 'blogger_sansmedium_italic',sans-serif

$Icons          = 'Glyphicons Halflings'
$Youth          = 'YouthInitiative'

//Font weights
$Thin           = 100
$Light          = 300
$Normal         = 400
$Bold           = 700


$UniverseColor = #fff8e7
 


//Site grid spacing and width
$Gutter            = 0.5rem
$SiteWidth         = 110rem

//Screen Sizes - Rewrite Bootstrap

// $screen-xs      = 320px // 480px
$screen-sm         = 770px // 768px
// $screen-md  //992px
$screen-lg         = 1100px // 1200px
$grid-gutter-width = $Gutter
